@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pixel-code.woff2') format('woff2');
  font-family: 'Pixel Code';
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/pixel-code-italic.woff2') format('woff2');
  font-family: 'Pixel Code';
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/pixel-code-bold.woff2') format('woff2');
  font-family: 'Pixel Code';
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/pixel-code-bold-italic.woff2') format('woff2');
  font-family: 'Pixel Code';
}
