body {
  @apply bg-top pt-10;
  --rotation: 0deg;

  @media print {
    @apply bg-none p-0;
  }

  &::before {
    @apply fixed bottom-1/2 right-1/2 z-body-background-before block h-[200vmax] w-[200vmax] blur-3xl will-change-transform;
    translate: 50% 50%;
    animation: bg-rotate 60s linear infinite;
    background: conic-gradient(
      theme('colors.background.first'),
      theme('colors.background.second'),
      theme('colors.background.third'),
      theme('colors.background.first')
    );
    content: '';

    @media print {
      @apply hidden;
    }
  }

  &::after {
    @apply fixed inset-0 z-body-background-after block bg-top;
    background-image: url('/images/background.png'),
      radial-gradient(circle, theme('colors.black/0'), theme('colors.black/0.5'));
    background-size:
      60rem 30rem,
      100% 100%;
    content: '';

    @media print {
      @apply hidden;
    }
  }
}

@keyframes bg-rotate {
  0% {
    transform: rotate(var(--rotation));
  }
  100% {
    transform: rotate(calc(360deg + var(--rotation)));
  }
}
