code,
kbd,
samp,
pre {
  @apply font-code;
}

// NOTE: regular <code> not inside <pre>
:not(pre) > code {
  @apply whitespace-nowrap bg-neutral px-1;

  @media print {
    @apply bg-neutral-emphasis;
  }
}

// NOTE: code examples (using ``` in md)
[class*='language-'] {
  @apply relative my-8;

  .lang {
    @apply absolute right-2 top-2 z-code-lang text-xs opacity-100 transition-opacity;
  }

  .copy {
    @apply absolute right-2 top-2 z-code-copy h-8 w-8 bg-primary bg-center bg-no-repeat opacity-0 transition-all;
    background-image: url('/images/code-copy.svg');
    background-size: theme('width.4') theme('height.4');

    @media print {
      @apply hidden;
    }

    &:hover,
    &:focus {
      @apply bg-primary-emphasis;
    }
  }

  &:hover {
    .lang {
      @apply opacity-0;

      @media print {
        @apply opacity-100;
      }
    }

    .copy {
      @apply opacity-100;
    }
  }
}

.vp-code {
  @apply block overflow-auto bg-neutral px-6 py-4;

  * {
    color: var(--shiki-dark);
  }

  @media print {
    @apply block bg-neutral-emphasis px-6 py-4;

    * {
      color: var(--shiki-light);
    }
  }
}

.vp-code-group {
  .tabs {
    @apply flex border-b-1 border-foreground/25 bg-neutral;

    label {
      @apply block cursor-pointer px-6 py-2 transition-all;
      box-shadow: 0 0.25rem 0 0 transparent;

      &:hover,
      &:focus {
        @apply bg-background;
      }
    }

    input {
      @apply hidden;

      &:checked + label {
        box-shadow: 0 0.25rem 0 0 theme('colors.primary.emphasis');
      }
    }
  }

  .blocks {
    [class*='language-'] {
      @apply mt-0;

      &:not(.active) {
        @apply hidden;
      }
    }
  }
}
