html {
  @apply crt-text font-default text-foreground;
  font-size: 20px;

  @media print {
    font-size: 14px;
  }
}

p {
  @apply my-8;
}

img {
  @apply my-8;
}

blockquote {
  @apply my-8 border-primary-emphasis/25 bg-neutral py-2 pl-4 pr-6;
  border-left-width: theme('spacing.2');

  @media print {
    @apply border-background/10 bg-neutral-emphasis;
  }

  > p:first-of-type {
    @apply mt-0;
  }

  > p:last-of-type {
    @apply mb-0;
  }
}

a {
  @apply font-medium text-primary;
  font-variation-settings: 'slnt' 0;

  &:focus,
  &:hover {
    @apply text-primary-emphasis;
    font-variation-settings: 'slnt' -10;
  }
}

.external-link-icon {
  @apply ml-1 inline-block h-2 w-2 text-foreground;

  @media print {
    @apply hidden;
  }

  *:hover > &,
  *:focus > & {
    @apply text-primary-emphasis;
  }
}

hr {
  @apply my-8 border-none bg-neutral pt-1;

  @media print {
    @apply bg-neutral;
  }
}
