html {
  @apply font-default text-fg;
  font-size: 20px;

  @media print {
    @apply text-bg;
    font-size: 14px;
  }
}

p {
  @apply my-8;
}

img {
  @apply my-8;
}

blockquote {
  @apply my-8 border-primary-fg/25 bg-bg/25 py-2 pl-4 pr-6 backdrop-blur-sm;
  border-left-width: theme('spacing.2');

  @media print {
    @apply border-bg/10 bg-bg/5;
  }

  > p:first-of-type {
    @apply mt-0;
  }

  > p:last-of-type {
    @apply mb-0;
  }
}

a {
  @apply font-medium text-primary-fg transition-all;
  font-variation-settings: 'slnt' 0;

  @media print {
    @apply text-primary-bg;
  }

  &:focus,
  &:hover {
    @apply text-accent-fg;
    font-variation-settings: 'slnt' -10;

    @media print {
      @apply text-accent-bg;
    }
  }

  &[target='_blank'] {
    &::after {
      @apply ml-1 inline-block h-2 w-2 bg-center bg-no-repeat opacity-75 transition-opacity;
      background-image: url('/images/external-link.svg');
      content: '';

      @media print {
        @apply hidden;
      }

      &:focus,
      &:hover {
        @apply opacity-100;
      }
    }
  }
}

hr {
  @apply my-8 border-none bg-fg/25 pt-1;

  @media print {
    @apply bg-bg/10;
  }
}
